.app-wrapper {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
  }

  .buttons-wrapper,
  .checkboxes-wrapper {
    display: flex;
    flex-direction: column;
    margin-block-end: 10px;
  }
}
