<router-outlet></router-outlet>

<div class="app-wrapper">
  <div class="buttons-wrapper">
    <h1 class="m-3">Buttons:</h1>
    <div class="row">
      <ngx-md-elevated-button class="m-5"></ngx-md-elevated-button>
      <ngx-md-filled-tonal-button class="m-5"></ngx-md-filled-tonal-button>
      <ngx-md-filled-button class="m-5"></ngx-md-filled-button>
      <ngx-md-outlined-button class="m-5"></ngx-md-outlined-button>
      <ngx-md-text-button class="m-5"></ngx-md-text-button>
    </div>
  </div>
  <div class="checkboxes-wrapper">
    <h1 class="m-3">Checkboxes:</h1>
    <div class="row">
      <ngx-md-checkbox label="Checkbox 1" for="Checkbox demo"></ngx-md-checkbox>
      <ngx-md-checkbox label="Checkbox 2" [indeterminate]="true"></ngx-md-checkbox>
      <ngx-md-checkbox label="Checkbox 3" [checked]="true"></ngx-md-checkbox>
      <ngx-md-checkbox label="Checkbox 4" [disabled]="true"></ngx-md-checkbox>
    </div>
  </div>
</div>
