<div class="buttons-wrapper">
  <div class="pane-1">
    <div class="tile-row">
      <div class="tile">
        <h1 class="tile-headline">Buttons</h1>
        <div class="tile-description">
          <p>Buttons help people initiate actions, from sending an email, to sharing a document, to liking a post.</p>
          <p>There are five types of common buttons: elevated, filled, filled tonal, outlined, and text.</p>
        </div>
      </div>
      <div class="tile">
        Example Tile
      </div>
    </div>
  </div>
  <div class="pane-2">
    This is second pane.
  </div>
</div>
