// @use '@material/web/color/color';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// html,
// body {
//   height: 100vh;
//   width: 100vw;
//   margin: 0
// }

html, body {
  background-color: var(--md-sys-color-surface-container);

  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

// * {
//   transition: height 0.5s cubic-bezier(0.3, 0, 0, 1);
// }

:root,
:host {
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #efd4d1;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2df;
  --md-sys-color-surface-container-highest: #f8dcd9;
  --md-sys-color-on-surface: #271817;
  --md-sys-color-surface-variant: #ffdad6;
  --md-sys-color-on-surface-variant: #5a403e;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #8e706d;
  --md-sys-color-outline-variant: #e3bebb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b62226;
  --md-sys-color-primary: #940112;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #c93131;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb3ad;
  --md-sys-color-secondary: #9b433e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ffa098;
  --md-sys-color-on-secondary-container: #591211;
  --md-sys-color-tertiary: #683e00;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #9a5e00;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;

  --md-ref-typeface-plain: 'Google Sans', Roboto, system-ui;

  --_scrollbar-width: 8px;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-primary);
  font-family: var(--md-ref-typeface-plain);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: var(--_scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-primary);
  border-radius: calc(var(--_scrollbar-width) / 2);
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 2px;
}

.m-3 {
  margin: 3px;
}

.m-4 {
  margin: 4px;
}

.m-5 {
  margin: 5px;
}

.m-6 {
  margin: 6px;
}

.m-7 {
  margin: 7px;
}

.p-1 {
  padding: 1px;
}

.p-2 {
  padding: 2px;
}

.p-3 {
  padding: 3px;
}

.p-4 {
  padding: 4px;
}

.p-5 {
  padding: 5px;
}

.p-6 {
  padding: 6px;
}

.p-7 {
  padding: 7px;
}

.material-symbols-outlined {
  font-size: var(--_icon-size);
}
